@import "tailwindcss";

.anime {
    border: 8px solid black;
    border-top: 8px solid red;
    border-bottom: 8px solid red;
    animation: rotate 5s alternate-reverse infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}